<h1 class="center-header">Himalayan Peaks</h1>

<div id="issue-list">
    <form action="/peak">
        <label for="peaks">Choose a peak:</label>
        <select name="peaks" id="peaks">
    {{#if peaks.length}}
    {{#each peaks}}
        <option value="{{this._source.peak_id}}">{{this._source.peak_name}}</option>
    {{/each}}
    </select>
    <br><br>
    <input type="submit" value="Submit">
    </form>
    {{else}}
    <p>No results.</p>
    {{/if}}
    <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
</div>
